html {
	font-size: 62.5%;
	background-color: var(--clr-neutral-100);
}

h1,
h2 {
	font-family: var(--ff-header);
	font-weight: 700;
}

p,
a {
	font-family: var(--ff-body);
	font-size: 1.6rem;
	line-height: 2.8rem;
}

.fs-65 {
	font-size: 6.5rem;
}

.fw-700 {
	font-weight: 700;
}

/* ================ buttons and links */

.button {
	padding: 15px 0px;
	border-radius: 1.6rem;
}

.btn__primary {
	background-color: var(--clr-neutral-800);
}
.btn__primary:hover {
	background-color: var(--clr-cool-200);
}

.btn__secondary {
	background-color: var(--clr-neutral-100);
}
.btn__secondary:hover {
	background-color: var(--clr-warm-300);
}

path:hover {
	fill: var(--clr-warm-800);
}

/* ================ utility classes */

.flex {
	display: flex;
}

.gap-6 {
	gap: 0.6rem;
}

.gap-16 {
	gap: 1.6rem;
}

.block {
	display: block;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.flow-row {
	flex-direction: row;
}

.align-center {
	align-self: center;
}

.flex-between {
	justify-content: space-between;
}

.text-light {
	color: var(--clr-neutral-100);
}

.text-dark {
	color: var(--clr-neutral-800);
}

.bg-warm {
	background-color: var(--clr-warm-800);
}

.bg-dark {
	background-color: var(--clr-neutral-800);
}

.bg-light {
	background-color: var(--clr-neutral-100);
}

.bg-cool {
	background-color: var(--clr-cool-200);
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

/* ================= ss-hero */

.hero__text-wrapper {
	padding: 0rem 2.4rem;
	z-index: 1;
}

.hero__h1 {
	font-size: 4rem;
	line-height: 4.8rem;
	margin-bottom: 2rem;
}

.hero__bg-blur {
	top: -20em;
	right: -15em;
	margin-left: auto;
	z-index: -5;
}

.hero__bg-pattern {
	display: none;
}

/* ================= ss-1 */

.ss1__wrapper {
	border-radius: 12px;
	position: relative;
	z-index: -1;
	margin-top: 15em;
}

.ss1 .card {
	padding: 4rem;
	border-radius: 1.2rem;
	max-width: 400px;
	position: relative;
	margin-bottom: 40em;
	top: 40em;
	z-index: 3;
	left: 50%;
	transform: translatex(-50%);
}

.ss1__h2 {
	font-size: 3.2rem;
	margin-bottom: 2rem;
}

.flow-16 > * + * {
	margin-block-start: 1.6rem;
}

.ss1__price-wrapper {
	margin: 3.6rem 0rem 3.2rem 0rem;
}

.ss1__bg-pattern {
	left: 50%;
	width: 80%;
	transform: translateX(-50%);
	z-index: 1;
	max-width: 312px;
}
.ss1__mockup {
	left: 50%;
	width: 60%;
	top: -10em;
	transform: translateX(-50%);
	z-index: 2;
	max-width: 270px;
}

/* ================= footer */

.footer__wrapper {
	gap: 3.2rem;
	padding: 6.4rem 2.4rem;
}

.footer__text-wrapper {
	max-width: 366px;
}

.footer__logo {
	margin-bottom: 3.2rem;
}

.social-icon__wrapper {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding: 3.2rem 0rem;
	margin-left: auto;
	align-items: end;
}

.footer__p {
	font-size: 1.6rem;
	line-height: 2.6rem;
}

/* ================ wrappers */

.nav {
	padding: 4rem 2.4rem;
}

/* ================ media queries */

/* ================ mq-tablet */

@media (min-width: 768px) {
	.hero__h1 {
		font-size: 6.4rem;
		line-height: 6.4rem;
	}

	h2 {
		font-size: 4rem;
	}

	p,
	a {
		font-size: 1.8rem;
	}

	body {
		max-width: 1110px;
		margin-inline: auto;
	}

	.hero__text-wrapper {
		max-width: 100%;
	}

	.ss1__wrapper {
		height: 600px;
		margin: 0 3.2rem;
		margin-top: 25rem;
	}

	.ss1__bg-pattern {
		top: -50px;
	}

	.ss1__mockup {
		left: 50%;
		transform: translatex(-115%);
		top: -15em;
	}

	.ss1 .card {
		transform: translatex(-25%);
		left: 50%;
		top: 13em;
	}

	.nav,
	.hero__text-wrapper,
	.footer__wrapper {
		padding: 6.2rem 3.2rem 0rem 3.2rem;
	}

	.footer__wrapper {
		margin-top: 6.8rem;
	}

	.footer__flexbox-1 {
		display: flex;
		justify-content: space-between;
	}

	.footer__flexbox-2 {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.hero__bg-blur {
		right: 5em;
		top: -10em;
		transform: scale(1.2);
		max-width: 100%;
	}

	.hero__bg-pattern {
		display: inline;
		top: 0;
		right: 0;
		z-index: -1;
		margin-right: -5em;
	}
}

/* ================ mq-desktop */

@media (min-width: 1440px) {
	.hero__h1 {
		font-size: 8.8rem;
		line-height: 8.8rem;
	}

	p {
		line-height: 3.4rem;
		font-size: 2rem;
	}

	.hero__text-wrapper {
		/* max-width: 1000px; */
	}

	.hero__p {
		max-width: 75ch;
	}

	.ss1__mockup {
		left: 50%;
		transform: translatex(-128%);
		top: -18em;
		max-width: 280px;
	}

	.ss1 .card {
		transform: translatex(16%);
		left: 50%;
		top: 7em;
	}

	.footer__wrapper {
		margin-top: 8rem;
		gap: 0rem;
	}

	.footer__flexbox-2 {
		flex-direction: row;
		gap: 14rem;
	}

	.hero__bg-blur {
		right: 30em;
		top: -20em;
		/* transform: scale(1.2); */
		max-width: 100%;
	}

	.hero__bg-pattern {
		max-width: 20%;
	}
}
